**PYTHON DATA TYPES**

**Mutable** : Lists, Sets, Dictionary      (can be changed after creation)      
**Immutable**: Numbers, Strings, Tuples

1. List []   
Ordered/ Indexed, mutable, Allows duplicates, Supports all datatypes

In [78]:
ice_cream=['Strawberry', 'Vanilla', True,'Butterscotch',30.5]

In [79]:
print(ice_cream[1])  # retrieving from position 2
print(ice_cream[2])  # retrieving from position 2

Vanilla
True

In [80]:
len(ice_cream)

5

In [81]:
#Add element to list
ice_cream.append('Chocolate')  #Add at the end

In [82]:
ice_cream.extend(['Mango','Coffee']) # Add multiple elements at the end

In [83]:
ice_cream.insert(0,'Caramel')   # Insert in a a specific position

In [84]:
ice_cream

['Caramel',
 'Strawberry',
 'Vanilla',
 True,
 'Butterscotch',
 30.5,
 'Chocolate',
 'Mango',
 'Coffee']

In [85]:
#Delete and print
ice_cream.pop(1)  #removes element and returns it

'Strawberry'

In [86]:
#Only delete
ice_cream.remove('Chocolate') #searches for first instance and removes it

In [87]:
del ice_cream[1] #removes element but deos not return it

In [88]:
ice_cream

['Caramel', True, 'Butterscotch', 30.5, 'Mango', 'Coffee']

In [89]:
ice_cream[0]=['Blueberry','Choco Fudge']  # Add a list to pos 0
ice_cream

[['Blueberry', 'Choco Fudge'], True, 'Butterscotch', 30.5, 'Mango', 'Coffee']

In [90]:
ice_cream[0][1]   #From 0th position , take value in pos 1

'Choco Fudge'

In [91]:
ice_cream.insert(0,'Mango')
ice_cream.insert(1,'Mango')

In [92]:
print('Vanilla' in ice_cream) #Check if something is present

False

In [93]:
ice_cream

['Mango',
 'Mango',
 ['Blueberry', 'Choco Fudge'],
 True,
 'Butterscotch',
 30.5,
 'Mango',
 'Coffee']

In [94]:
#Count the no. of times an element is in the list
print(ice_cream.count('Mango'))
#Index of the value 
print(ice_cream.index(30.5))

3
5

In [95]:
#Check if elemnts are same
print(ice_cream[0]==ice_cream[3])
print(ice_cream[0]=='Mango')

False
True

In [96]:
#SLICING DATA
#Reverse the list, Does not change original
ice_cream[::-1]

['Coffee',
 'Mango',
 30.5,
 'Butterscotch',
 True,
 ['Blueberry', 'Choco Fudge'],
 'Mango',
 'Mango']

In [97]:
print(ice_cream.reverse())  # Changes original makes it Reverse
ice_cream

None

['Coffee',
 'Mango',
 30.5,
 'Butterscotch',
 True,
 ['Blueberry', 'Choco Fudge'],
 'Mango',
 'Mango']

In [98]:
print(ice_cream[-1]) #last element
print(ice_cream[1:3])

Mango
['Mango', 30.5]

In [99]:
#Start , end, step
ice_cream[::2]   #Prints every 2nd value

['Coffee', 30.5, True, 'Mango']

In [100]:
#Sort isnt possible using sort in this case as it has different dtypes
ice_cream.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
#Copy the list
copy_ice_cream_1= ice_cream.copy()
copy_ice_cream_2= copy_ice_cream[:]
copy_ice_cream_3=list(ice_cream)

2. String " "   
Immutable, Ordered, Allows duplicates

In [ ]:
a= " Hello everyone! "

In [ ]:
len(a)

17

In [ ]:
a.strip()

'Hello everyone!'

In [ ]:
print(a[5:10])  #Slice from 5 to 9
print(a[2])     #Element at position
print(a[::-1])  #Reverse the string

o eve
e
 !enoyreve olleH

In [ ]:
print(a.upper())
print(a.lower())

 HELLO EVERYONE!
 hello everyone!

In [ ]:
a.replace('Hello','Hii')  #replace a word

' Hii everyone! '

In [ ]:
a.replace('e','y')  #Replace all occurrences of a character

' Hyllo yvyryony! '

In [ ]:
print(a.find('ll'))  #Find pos 
print(a.find('yy'))  #If not present returns -1

3
-1

In [ ]:
a.count('e') # Count all occurrences of the character

4

In [ ]:
a.split(' ') #Split by space in this case

['', 'Hello', 'everyone!', '']

In [ ]:
b="The subjects are English,Maths, History and Science"
print(b.split(','))

['The subjects are English', 'Maths', ' History and Science']

In [ ]:
print(b.isdigit())
print(b.startswith('T'))
print(b.endswith('a'))

False
True
False

In [ ]:
c="first line \nsecond line"
print(c)

first line
 second line

In [ ]:
a+" 00 "+b  #Concatenate strings

' Hello everyone!  00 The subjects are English,Maths, History and Science'

In [ ]:
#Format
age=22       
print(f"My age is {age}")
print(f"In December I will be {age +1}")
pi=3.14159
print(f"The value of pi is {pi:.3f}")  # Can change decimal value

My age is 22
In December I will be 23
The value of pi is 3.142

3. TUPLE ()  
Ordered ,IMMUTABLE, Allows duplicates, Supports all datatypes

In [ ]:
tup_1= (True, 50,67,89,21,9,4) #Create tuple directly

In [ ]:
tup_1+ (10,20)

(True, 50, 67, 89, 21, 9, 4, 10, 20)

example_tup= (0,)  # Acomma at the end to show its a tuple

In [ ]:
tup_2=tuple(ice_cream) #Create list into a tuple

In [ ]:
tup_2

('Strawberry', 'Vanilla', True, 'Butterscotch', 30.5)

In [ ]:
type(tup_2)

tuple

In [ ]:
tup_2[0]='Raspberry'  # Tuple cannot be changed once created

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(tup_1[3])
print(tup_1[-1])  #Last element
print(len(tup_1))

89
4
7

In [ ]:
tup_3=('A','B','C','D')

In [ ]:
tup1+tup_3  #Adding tuples

(True, 50, 67, 89, 21, 9, 4, 'A', 'B', 'C', 'D')

In [ ]:
print(tup_1*2)
print(max(tup_3)) #Max of tuple 2

(True, 50, 67, 89, 21, 9, 4, True, 50, 67, 89, 21, 9, 4)
D

In [ ]:
print(tup_3.count('A'))
print(tup_3.index('D'))

1
3

In [ ]:
print('Vanilla' in tup_2) #To check if element is present in the list

True

4. Sets {}  
Unordered/Unindexed ,Mutable, Allows duplicates, Dtypes allowed: Int, Strings, Tuples

In [ ]:
skills={'python','excel','java','power bi'} #Create set

In [ ]:
skills.add('R') # ADD 1 item

In [ ]:
skills

{'R', 'excel', 'java', 'power bi', 'python'}

In [ ]:
skills.update(['Sql','Streamlit']) #Add multiple elements
print(skills)

{'Streamlit', 'power bi', 'Sql', 'java', 'R', 'python', 'excel'}

In [ ]:
'java' in skills

True

In [ ]:
#REMOVE
#skills.remove('Sql')
#skills.pop() #Removes and prints
#skills.discard('excel') # Removes item , Shows no error even if it doesnt exist
skills.clear()  #Clears the whole set

In [ ]:
skills

set()

Set Operations

In [ ]:
set1 = {"India", "China", "Japan", "Russia", "Thailand"}
set2 = {"Russia", "Germany", "France", "Italy", "India"}

In [ ]:
#Union
print(set1 | set2)  #All elemnts from the sets but ONLY 1 TIME
print(set1.union(set2))

{'Japan', 'Italy', 'France', 'India', 'China', 'Russia', 'Thailand', 'Germany'}
{'Japan', 'Italy', 'France', 'India', 'China', 'Russia', 'Thailand', 'Germany'}

In [ ]:
#Intersection / Common
print(set1 & set2)
print(set1.intersection(set2))

{'India', 'Russia'}
{'India', 'Russia'}

In [ ]:
#Difference
print(set1-set2)  #From set1 not in set2 
print(set2-set1)  #Elements left after removing 
print(set1.difference(set2))

{'Thailand', 'Japan', 'China'}
{'Italy', 'France', 'Germany'}
{'Thailand', 'Japan', 'China'}

In [ ]:
#Symmetric difference . Present in either one but not other . Not in both
print(set1 ^ set2)

{'Japan', 'Italy', 'France', 'China', 'Thailand', 'Germany'}

In [ ]:
set1+set2  #Adding 2 sets is not allowed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

5. Dictionary {}  
Mutable,Unordered, No duplicates, Keys:Int/Str/Tuple, Values: any dtypes

In [ ]:
dict1={'name': 'Aditi', 'age':22,'location':'Bengaluru','is_girl': True}

keys can also be a tuple

In [ ]:
#Acessing elements
print(dict1.keys())  #Print only keys
print(dict1.values())  #Print only values
print(dict1.items())  #Print all items (whole dict)

dict_keys(['name', 'age', 'location', 'is_girl'])
dict_values(['Aditi', 22, 'Bengaluru', True])
dict_items([('name', 'Aditi'), ('age', 22), ('location', 'Bengaluru'), ('is_girl', True)])

In [ ]:
#Update
dict1['age']=10  #Updating existing element

In [ ]:
#DELETE
dict1.pop('age')  #Del and print
dict1.clear()
del dict1['age']

10

In [ ]:
#ADD AN ELEMENT
dict1['Salary']=150000; #Add a new element

In [ ]:
dict1['fruit']='mango' #Add an element

In [104]:
#Add a list (multiple elements)
dict1['colours']=['blue','white','black']

In [ ]:
dict1.get('Salary','Not found') #Search for an element , if not found print

'Not found'

In [103]:
#Check if exists
print('name' in dict1) #Only checks keys
print('Aditi' in dict1) #Not for values

True
False

In [110]:
#Access specific elements from the list
print(dict1['colours'][0])

blue

In [ ]:
#Remove form a specific list
dict1['colours'].remove('white')

In [113]:
dict1

{'name': 'Aditi',
 'location': 'Bengaluru',
 'is_girl': True,
 'fruit': 'mango',
 'Salary': 150000,
 'colours': ['blue', 'black']}

C:\Users\Aditi\Desktop\Projects\Python Datatypes.png