**PYTHON DATA TYPES**

**Mutable** : Lists, Sets, Dictionary      (can be changed after creation)      
**Immutable**: Numbers, Strings, Tuples

1. List []   
Ordered/ Indexed, mutable, Allows duplicates, Supports all datatypes

In [1]:
ice_cream=['Strawberry', 'Vanilla', True,'Butterscotch',30.5]

In [2]:
print(ice_cream[1])  # retrieving from position 2
print(ice_cream[2])  # retrieving from position 2

Vanilla
True

In [3]:
len(ice_cream)

5

In [4]:
#Add element to list
ice_cream.append('Chocolate')  #Add at the end

In [5]:
ice_cream.extend(['Mango','Coffee']) # Add multiple elements at the end

In [6]:
ice_cream.insert(0,'Caramel')   # Insert in a a specific position

In [7]:
ice_cream

['Caramel',
 'Strawberry',
 'Vanilla',
 True,
 'Butterscotch',
 30.5,
 'Chocolate',
 'Mango',
 'Coffee']

In [8]:
#Delete and print
ice_cream.pop(1)  #removes element and returns it

'Strawberry'

In [9]:
#Only delete
ice_cream.remove('Chocolate') #searches for first instance and removes it

In [10]:
del ice_cream[1] #removes element but deos not return it

In [11]:
ice_cream

['Caramel', True, 'Butterscotch', 30.5, 'Mango', 'Coffee']

In [12]:
ice_cream[0]=['Blueberry','Choco Fudge']  # Add a list to pos 0
ice_cream

[['Blueberry', 'Choco Fudge'], True, 'Butterscotch', 30.5, 'Mango', 'Coffee']

In [13]:
ice_cream[0][1]   #From 0th position , take value in pos 1

'Choco Fudge'

In [14]:
ice_cream.insert(0,'Mango')
ice_cream.insert(1,'Mango')

In [15]:
print('Vanilla' in ice_cream) #Check if something is present

False

In [16]:
ice_cream

['Mango',
 'Mango',
 ['Blueberry', 'Choco Fudge'],
 True,
 'Butterscotch',
 30.5,
 'Mango',
 'Coffee']

In [17]:
#Count the no. of times an element is in the list
print(ice_cream.count('Mango'))
#Index of the value 
print(ice_cream.index(30.5))

3
5

In [18]:
#Check if elemnts are same
print(ice_cream[0]==ice_cream[3])
print(ice_cream[0]=='Mango')

False
True

In [19]:
#SLICING DATA
#Reverse the list, Does not change original
ice_cream[::-1]

['Coffee',
 'Mango',
 30.5,
 'Butterscotch',
 True,
 ['Blueberry', 'Choco Fudge'],
 'Mango',
 'Mango']

In [20]:
print(ice_cream.reverse())  # Changes original makes it Reverse
ice_cream

None

['Coffee',
 'Mango',
 30.5,
 'Butterscotch',
 True,
 ['Blueberry', 'Choco Fudge'],
 'Mango',
 'Mango']

In [21]:
print(ice_cream[-1]) #last element
print(ice_cream[1:3])

Mango
['Mango', 30.5]

In [22]:
#Start , end, step
ice_cream[::2]   #Prints every 2nd value

['Coffee', 30.5, True, 'Mango']

In [23]:
#Sort isnt possible using sort in this case as it has different dtypes
ice_cream.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [25]:
#Copy the list
copy_ice_cream_1= ice_cream.copy()
copy_ice_cream_2= ice_cream[:]
copy_ice_cream_3=list(ice_cream)

In [ ]:
copy_ice_cream_2

['Coffee',
 'Mango',
 30.5,
 'Butterscotch',
 True,
 ['Blueberry', 'Choco Fudge'],
 'Mango',
 'Mango']

2. String " "   
Immutable, Ordered, Allows duplicates

In [27]:
a= " Hello everyone! "

In [28]:
len(a)

17

In [29]:
a.strip()

'Hello everyone!'

In [30]:
print(a[5:10])  #Slice from 5 to 9
print(a[2])     #Element at position
print(a[::-1])  #Reverse the string

o eve
e
 !enoyreve olleH

In [31]:
print(a.upper())
print(a.lower())

 HELLO EVERYONE!
 hello everyone!

In [32]:
a.replace('Hello','Hii')  #replace a word

' Hii everyone! '

In [33]:
a.replace('e','y')  #Replace all occurrences of a character

' Hyllo yvyryony! '

In [34]:
print(a.find('ll'))  #Find pos 
print(a.find('yy'))  #If not present returns -1

3
-1

In [35]:
a.count('e') # Count all occurrences of the character

4

In [36]:
a.split(' ') #Split by space in this case

['', 'Hello', 'everyone!', '']

In [37]:
b="The subjects are English,Maths, History and Science"
print(b.split(','))

['The subjects are English', 'Maths', ' History and Science']

In [38]:
print(b.isdigit())
print(b.startswith('T'))
print(b.endswith('a'))

False
True
False

In [39]:
c="first line \nsecond line"
print(c)

first line
second line

In [40]:
a+" 00 "+b  #Concatenate strings

' Hello everyone!  00 The subjects are English,Maths, History and Science'

In [41]:
#Format
age=22       
print(f"My age is {age}")
print(f"In December I will be {age +1}")
pi=3.14159
print(f"The value of pi is {pi:.3f}")  # Can change decimal value

My age is 22
In December I will be 23
The value of pi is 3.142

3. TUPLE ()  
Ordered ,IMMUTABLE, Allows duplicates, Supports all datatypes

In [42]:
tup_1= (True, 50,67,89,21,9,4) #Create tuple directly

In [43]:
tup_1+ (10,20)

(True, 50, 67, 89, 21, 9, 4, 10, 20)

example_tup= (0,)  # Acomma at the end to show its a tuple

In [48]:
tup_2=tuple(ice_cream,) #Create list into a tuple

In [49]:
tup_2

('Coffee',
 'Mango',
 30.5,
 'Butterscotch',
 True,
 ['Blueberry', 'Choco Fudge'],
 'Mango',
 'Mango')

In [50]:
type(tup_2)

tuple

In [52]:
tup_2[0]='Raspberry'  # Tuple cannot be changed once created

TypeError: 'tuple' object does not support item assignment

In [53]:
print(tup_1[3])
print(tup_1[-1])  #Last element
print(len(tup_1))

89
4
7

In [54]:
tup_3=('A','B','C','D')

In [56]:
tup_1+tup_3  #Adding tuples

(True, 50, 67, 89, 21, 9, 4, 'A', 'B', 'C', 'D')

In [57]:
print(tup_1*2)
print(max(tup_3)) #Max of tuple 2

(True, 50, 67, 89, 21, 9, 4, True, 50, 67, 89, 21, 9, 4)
D

In [ ]:
print(tup_3.count('A')) #Count instances of the character
print(tup_3.index('D')) #Count the position of the character

1
3

In [59]:
print('Vanilla' in tup_2) #To check if element is present in the list

False

4. Sets {}  
Unordered/Unindexed ,Mutable, Allows duplicates, Dtypes allowed: Int, Strings, Tuples

In [60]:
skills={'python','excel','java','power bi'} #Create set

In [61]:
skills.add('R') # ADD 1 item

In [62]:
skills

{'R', 'excel', 'java', 'power bi', 'python'}

In [63]:
skills.update(['Sql','Streamlit']) #Add multiple elements
print(skills)

{'Sql', 'Streamlit', 'excel', 'java', 'python', 'power bi', 'R'}

In [64]:
'java' in skills

True

In [65]:
#REMOVE
#skills.remove('Sql')
#skills.pop() #Removes and prints
#skills.discard('excel') # Removes item , Shows no error even if it doesnt exist
skills.clear()  #Clears the whole set

In [66]:
skills

set()

Set Operations

In [67]:
set1 = {"India", "China", "Japan", "Russia", "Thailand"}
set2 = {"Russia", "Germany", "France", "Italy", "India"}

In [68]:
#Union
print(set1 | set2)  #All elements from the sets but ONLY 1 TIME
print(set1.union(set2))

{'Italy', 'China', 'France', 'Germany', 'India', 'Japan', 'Russia', 'Thailand'}
{'Italy', 'China', 'France', 'Germany', 'India', 'Japan', 'Russia', 'Thailand'}

In [69]:
#Intersection / Common
print(set1 & set2)
print(set1.intersection(set2))

{'India', 'Russia'}
{'India', 'Russia'}

In [70]:
#Difference
print(set1-set2)  #From set1 not in set2 
print(set2-set1)  #Elements left after removing 
print(set1.difference(set2))

{'China', 'Japan', 'Thailand'}
{'Italy', 'France', 'Germany'}
{'China', 'Japan', 'Thailand'}

In [71]:
#Symmetric difference . Present in either one but not other . Not in both
print(set1 ^ set2)

{'Thailand', 'Japan', 'Italy', 'China', 'France', 'Germany'}

In [72]:
set1+set2  #Adding 2 sets is not allowed

TypeError: unsupported operand type(s) for +: 'set' and 'set'

5. Dictionary {}  
Mutable,Unordered, No duplicates, Keys:Int/Str/Tuple, Values: any dtypes

In [81]:
dict1={'name': 'Aditi', 'age':22,'location':'Bengaluru','is_girl': True}

keys can also be a tuple

In [82]:
#Acessing elements
print(dict1.keys())  #Print only keys
print(dict1.values())  #Print only values
print(dict1.items())  #Print all items (whole dict)

dict_keys(['name', 'age', 'location', 'is_girl'])
dict_values(['Aditi', 22, 'Bengaluru', True])
dict_items([('name', 'Aditi'), ('age', 22), ('location', 'Bengaluru'), ('is_girl', True)])

In [83]:
#Update
dict1['age']=10  #Updating existing element

In [84]:
#DELETE
dict1.pop('age')  #Del and print

10

In [79]:
dict1.clear()

In [85]:
del dict1['age']

KeyError: 'age'

In [86]:
#ADD AN ELEMENT
dict1['Salary']=150000; #Add a new element

In [87]:
dict1['fruit']='mango' #Add an element

In [88]:
#Add a list (multiple elements)
dict1['colours']=['blue','white','black']

In [89]:
dict1.get('Salary','Not found') #Search for an element , if not found print

150000

In [90]:
#Check if exists
print('name' in dict1) #Only checks keys
print('Aditi' in dict1) #Not for values

True
False

In [91]:
#Access specific elements from the list
print(dict1['colours'][0])

blue

In [92]:
#Remove form a specific list
dict1['colours'].remove('white')

In [93]:
dict1

{'name': 'Aditi',
 'location': 'Bengaluru',
 'is_girl': True,
 'Salary': 150000,
 'fruit': 'mango',
 'colours': ['blue', 'black']}

6. Boolean - True/False

7. Int - 77,85

8. Float - 7.56, 9.28 (decimal)